.section {
  border: 1px solid #ccc;
  border-radius: 7px;
  box-shadow: 0px 0px 10px #ddd;
  padding: 8px;
  width: 100%;
  margin: 4px 0px;
}

.section label {
  font-weight: bold;
  margin-right: 4px;
}

.sectionDiv {
  display: flex;
  padding: 2px;
}

.section div label {
  min-width: 110px;
}

.section div ul li {
  text-indent: 20px;
  margin: .1em 0em;
}

.clientCheckbox {
  position: absolute;
  left: -100px;
}

.labelCollapsable {
  display: block;
  padding: .5em;
  background-color: #09f;
  border-radius: 7px;
  color: #ddd;
  text-align: center;
  font-weight: bold;
}

.clientCheckbox + p, .clientCheckbox + ul {
  border: 1px solid #777;
  border-radius: 7px;
  display: none;
  padding: .5em;
  margin-top: .5em;
  box-shadow: 0px 0px 5px #777 inset;
}

.clientCheckbox + ul {
  padding: 1em 1em 1em 2em;
}

.clientCheckbox:checked + p, .clientCheckbox:checked + ul {
  display: block;
}